In [1]:
#Python Indexation
#in python indexation starts from 0
#Reverse indexation
#value is enclosed in []

In [2]:
a='the scholar'

In [3]:
a

'the scholar'

In [4]:
len(a)

11

In [8]:
a[4:10]

'schola'

In [25]:
a[4:10:1]
#whenever the last value of[]or direction value will be more then 1
#then it'll be a jump by it's pos.

'schola'

In [10]:
a[4:]

'scholar'

In [11]:
a[4:10:2]
#here direction value more then 1 so it's a jump
#with 1 pos ahead

'shl'

In [12]:
a[4:10:3]
#jump with 2 pos ahead

'so'

In [13]:
a[4:11:1]

'scholar'

In [26]:
a[4:11:2]

'shlr'

In [15]:
a[4:10:2]

'shl'

In [16]:
#Reverse Indexation
#when we will be moving from R to L then we have to specify the direction. -1
#by default python will take it as a fwd direction

In [18]:
a

'the scholar'

In [19]:
a[-1:-7]
#o/p here empty  because we did not give any direction

''

In [22]:
a[-1:-7:-1]
#as i gave the direction python took it and gave the o/p

'ralohc'

In [24]:
a[-1:-10:-1]

'ralohcs e'

In [27]:
a[-1:-10:-2]

'rlhse'

In [31]:
a[-1:-11:-3]

'rosh'

In [33]:
a

'the scholar'

In [36]:
a[-3:]

'lar'

In [39]:
a[-4:]

'olar'

In [40]:
a[-4:-1]

'ola'

In [41]:
#Python Collection Datatypes
#Lists

In [42]:
ages=[10,20,30,40,50,60,70,80,90,110,150,200]

In [43]:
ages

[10, 20, 30, 40, 50, 60, 70, 80, 90, 110, 150, 200]

In [44]:
len(ages)

12

In [45]:
ages=['A',20,30,40,50,True,53.4,60,70,80,90]

In [46]:
ages

['A', 20, 30, 40, 50, True, 53.4, 60, 70, 80, 90]

In [47]:
len(ages)

11

In [48]:
type(ages)

list

In [50]:
ages[6]

53.4

In [51]:
type(ages[6])

float

In [52]:
ages[5]

True

In [53]:
type(ages[5])

bool

In [54]:
ages[1:10]

[20, 30, 40, 50, True, 53.4, 60, 70, 80]

In [55]:
ages[0:11]

['A', 20, 30, 40, 50, True, 53.4, 60, 70, 80, 90]

In [56]:
ages[-1:-10:-1]

[90, 80, 70, 60, 53.4, True, 50, 40, 30]

In [59]:
ages[-1:-10:-2]

[90, 70, 53.4, 50, 30]

In [60]:
ages[-1:-6:-2]

[90, 70, 53.4]

In [61]:
ages[-4:]

[60, 70, 80, 90]

In [62]:
ages

['A', 20, 30, 40, 50, True, 53.4, 60, 70, 80, 90]

In [65]:
ages[-6:]

[True, 53.4, 60, 70, 80, 90]

In [66]:
ages

['A', 20, 30, 40, 50, True, 53.4, 60, 70, 80, 90]

In [72]:
ages[1]=25
#here we can update the value of list by passing their index value

In [68]:
ages

['A', 25, 30, 40, 50, True, 53.4, 60, 70, 80, 90]

In [69]:
ages

['A', 25, 30, 40, 50, True, 53.4, 60, 70, 80, 90]

In [70]:
ages[2]=50
#as we can update the value of list. That means,
#list is mutable

In [71]:
ages

['A', 25, 50, 40, 50, True, 53.4, 60, 70, 80, 90]

In [ ]:
#Properties of lIsts
#Interstion order is preserved
#Duplicates are allowed
#Hetrogeneous are allowed(can be any data types such as float,int,string,bool)
#Growable in nature
#Values are enclosed in a square []
#Lists are mutable in nature.

In [73]:
ages

['A', 25, 50, 40, 50, True, 53.4, 60, 70, 80, 90]

In [81]:
ages.append(100)
#append with this command we can pass only one value at a time as an argument &
#it will be added into the last .

In [82]:
ages.append([200,400,600])
#if we want to pass multiply value then we need to pass it as a list.&
#it will be also added into the last

In [83]:
ages

['A',
 25,
 50,
 40,
 50,
 True,
 53.4,
 60,
 70,
 80,
 90,
 100,
 100,
 100,
 [200, 400, 600]]

In [84]:
del ages[13]

In [85]:
ages

['A', 25, 50, 40, 50, True, 53.4, 60, 70, 80, 90, 100, 100, [200, 400, 600]]

In [86]:
del ages[12]

In [87]:
ages

['A', 25, 50, 40, 50, True, 53.4, 60, 70, 80, 90, 100, [200, 400, 600]]

In [88]:
ages

['A', 25, 50, 40, 50, True, 53.4, 60, 70, 80, 90, 100, [200, 400, 600]]

In [89]:
len(ages)

13

In [90]:
del ages[12]

In [91]:
ages

['A', 25, 50, 40, 50, True, 53.4, 60, 70, 80, 90, 100]

In [92]:
ages

['A', 25, 50, 40, 50, True, 53.4, 60, 70, 80, 90, 100]

In [93]:
del ages
#here del will delete the entire list

In [95]:
ages
#as you see after run this line ages is not defind. it means
#del deleted the enitre list

NameError: name 'ages' is not defined

In [96]:
#del is the command to delete the entire list or any particular values of that
#list by passing their index value of that value.

In [97]:
ages=[ 25, 50, 40, 50,  53.4, 60, 70, 80, 90, 100]

In [98]:
ages

[25, 50, 40, 50, 53.4, 60, 70, 80, 90, 100]

In [122]:
ages=['A',32,'B',54, True,33,23.5,33]

In [123]:
ages

['A', 32, 'B', 54, True, 33, 23.5, 33]

In [109]:
ages.clear()
#clear is the commmand to remove the

In [124]:
ages

['A', 32, 'B', 54, True, 33, 23.5, 33]

In [125]:
len(ages)

8

In [126]:
ages1=ages.copy()

In [127]:
ages1

['A', 32, 'B', 54, True, 33, 23.5, 33]

In [128]:
ages.count(33)

2

In [145]:
ages.extend([80,90,100])

In [146]:
id(ages)

2247485540744

In [147]:
ages.index(33)

5

In [148]:
ages.index(50)

8

In [149]:
ages

['A', 32, 'B', 54, True, 33, 23.5, 33, 50, 60, 70, 80, 90, 100]

In [150]:
ages.insert(4,20)

In [151]:
ages

['A', 32, 'B', 54, 20, True, 33, 23.5, 33, 50, 60, 70, 80, 90, 100]

In [153]:
ages

['A', 32, 'B', 54, 20, True, 33, 23.5, 33, 50, 60, 70, 80, 90, 100]

In [154]:
ages.insert(5,20)

In [155]:
ages

['A', 32, 'B', 54, 20, 20, True, 33, 23.5, 33, 50, 60, 70, 80, 90, 100]

In [156]:
ages.insert(7,30)

In [157]:
ages

['A', 32, 'B', 54, 20, 20, True, 30, 33, 23.5, 33, 50, 60, 70, 80, 90, 100]

In [158]:
ages

['A', 32, 'B', 54, 20, 20, True, 30, 33, 23.5, 33, 50, 60, 70, 80, 90, 100]

In [159]:
ages.pop()

100

In [160]:
ages

['A', 32, 'B', 54, 20, 20, True, 30, 33, 23.5, 33, 50, 60, 70, 80, 90]

In [161]:
ages.pop()

90

In [162]:
ages

['A', 32, 'B', 54, 20, 20, True, 30, 33, 23.5, 33, 50, 60, 70, 80]

In [163]:
ages.pop(6)

True

In [164]:
ages

['A', 32, 'B', 54, 20, 20, 30, 33, 23.5, 33, 50, 60, 70, 80]

In [166]:
ages.remove('B')

In [167]:
ages

['A', 32, 54, 20, 20, 30, 33, 23.5, 33, 50, 60, 70, 80]

In [168]:
ages.remove(54)

In [169]:
ages

['A', 32, 20, 20, 30, 33, 23.5, 33, 50, 60, 70, 80]

In [170]:
ages.reverse()

In [171]:
ages

[80, 70, 60, 50, 33, 23.5, 33, 30, 20, 20, 32, 'A']

In [172]:
ages.pop()

'A'

In [173]:
ages

[80, 70, 60, 50, 33, 23.5, 33, 30, 20, 20, 32]

In [174]:
ages.sort()

In [175]:
ages

[20, 20, 23.5, 30, 32, 33, 33, 50, 60, 70, 80]

In [176]:
ages.sort(reverse=True)

In [177]:
ages

[80, 70, 60, 50, 33, 33, 32, 30, 23.5, 20, 20]

In [178]:
del ages[1:4]
#with this method you will be able to del multiple value from the list.

In [179]:
ages

[80, 33, 33, 32, 30, 23.5, 20, 20]